# datasets
*.csv
!teacher.csv
*.sqlite

# Database folders - in 02-SQL
02-SQL/**/data/
*.data/

# DBT logs
dbt.log
*target/

# File system
.DS_Store

# packages
__pycache__/
.ipynb_checkpoints
*.egg-info/
.pytest_cache
*.vscode/*

#virtual env
.venv/*

#env files
*.env
.vscode/
*.log
