# datasets
*.csv
!teacher.csv
*.sqlite

# Database folders - in 02-SQL
02-SQL/**/data/
*.data/

# DBT folders - in 01-ELT-DBT
01-ELT-DBT/**/dbt_lewagon/
01-ELT-DBT/**/dbt_lewagon_final/

# DBT logs
dbt.log.legacy
*target/

# File system
.DS_Store

# packages
__pycache__/
.ipynb_checkpoints
*.egg-info/
.pytest_cache
*.vscode/*

#virtual env
.venv/*

#env files
*.env
.vscode/
*.log

# No such file in the solutions repository
test_output.txt
