[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.6.2"
click = "==7.1.2"
flask = "==1.1.2"
flask-migrate = "==2.7.0"
flask-sqlalchemy = "==2.5.1"
sqlalchemy = "==1.4.14"
jinja2 = "*"
werkzeug = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
